.list {
  position: relative;
  width: 100%;
  height: 100%;
}

.item-wrapper {
  position: absolute;
  padding: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
}

.item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.item-wrapper:hover .item-img {
  transform: scale(0.96);
}
